body {
	color: rgb(0, 0, 150);
	background-image: url('../bgimage.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	margin: 40px;
	color: white;
	font-size: 6em;
	background-color: #0000aa;
	width: 50%;
	opacity: 0.5;
	font-family: 'segoe script', 'segoe print', cursive;
	cursor: default;
}

h1:hover {

}

div#alert {
	display: inline-block;
	background-color: #0000aa;
	opacity: 0.5;
	color: white;
	position: absolute;
	left: 35%;
	top: 35%;
	width: 25%;
	text-align: center;
}

section {
	margin: 40px;
}

input#intro {
	display: block;
	border-radius: 0;
	border: 1px solid #0000aa;
	background-color: #ffffdd;
	outline-style: none;
}

ul.check {
	background-color: #aaaaaa;
	color: #0000aa;
	width: 30%;
}

h3.label {
	background-color: #0000aa;
	color: white;
	opacity: 0.5;
	font-size: 3em;
	text-align: center;
	width: 30%;
	margin-top: 20px;
}

input {
	color: #0000aa;
	background-color: #aaaaaa;
	border: none;
	padding: 5px;
	border-radius: 10px;
}

h3.space {
	padding-top: 40px;
}